@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    min-height:100vh;
    font-family: Lato,sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    background:-webkit-linear-gradient(180deg,#9ba4b4 20%, #14274e 20%, #394867 80%,#9ba4b4 80%);
}
.game-container{
    width:35%;
    height:max-content;
    background:whitesmoke;
    border-radius: 5px;
    z-index:10;
    box-shadow: 0 1px 30px -15px rgba(0, 0, 0, 0.4);
}
.header{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background:#8199ca;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.score{
    display:flex;
    justify-content: center;
}
.score-cont{
    background: #b1c4e9;
    padding:5px;
    margin-top:5px;
}
.score-h2{
    margin:0;
    padding:5px 15px;
    font-size:2vw;
    background: #738bbb;
    border-radius: 5px;
}
.player-container{
    margin:30px;
    display: flex;
    flex-direction: column;
    margin-top:5px;
}
h1{
    font-size:2vw;
}
h2{
    font-size:2vw;
    margin-bottom: 20px;
}
.icons{
    display:flex;
    justify-content: space-evenly;
}
.far{
    font-size:3vw;
    /* margin-right:40px; */
    user-select: none;
}
#player .far{
    color:#1e90ff;
    cursor: pointer;
}
#player .choice{
    color:rgba(60, 135, 221, 0.6);
    font-size:1.5vw;
}
#computer .far{
    color:rgb(209, 27, 27);
}
#computer .choice{
    color:rgba(209,27,27,0.6);
    font-size:1.5vw;
}
.selected{
    color:black !important;
    transform: scale(1.3);
}
#player .far:last-of-type,
#computer .far:last-of-type{
    margin-right: 0;
}
.reset-icon{
    font-size:2vw;
    margin-left:45%;
    cursor:pointer;
}
.result-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1000px){
 .far{
     font-size:4vw;
 }
}
@media screen and (max-width:700px){
    .game-container{
        width:70vw;
    }.fas,h2,.score-h2,h1{
        font-size:4vw;
    }.far{
        font-size:7vw;
    }
   }
